# Build directories
build/
out/
*_build/
ALL_BUILD.dir/
INSTALL.dir/
PACKAGE.dir/
ZERO_CHECK.dir/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
_deps/

# Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs/
x64/
Debug/
Release/
MinSizeRel/
RelWithDebInfo/

# OS junk
.DS_Store
Thumbs.db
